@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --grey-900: #48556A;
    --grey-500: #6E8098;
    --grey-400: #9DAEC2;
    --grey-200: #ECF2F8;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-700: 56px;
    --space-800: 64px;
    --space-1300: 104px;
    --space-2000: 160px;
}

body{
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    background-color: var(--grey-200);

}

main.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

article{
    width: 327px;
    background-color: var(--white);
    margin: var(--space-800) var(--space-300);
    border-radius: 10px;
      overflow: hidden;
}

.article-picture .container{
    height: 200px;
}

.article-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.article-content{
    /*padding-left: 30px;
    padding-right: 30px;*/
    padding-top: var(--space-400);
}

.article-content .text{
    padding-left: 30px;
    padding-right: 30px;
}

.article-content h1{
    color: var(--grey-900);
}

.article-content p {
    color: var(--grey-500);
    margin-top: var(--space-300);
    margin-bottom: var(--space-600);
}

footer{
    height: 76px;
    z-index: 0;
}

.article-content footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.sharing-banner{
    width:327px;
    height: 76px;
    background-color: var(--grey-900);
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.sharing-banner .icons{
    display: flex;
    align-items: center;
}

.sharing-banner .icons img{
    margin-right: 16px;
}

.sharing-banner .share{
    color: var(--grey-400);
    line-height: 140%;
    letter-spacing: 5px;
    margin-right: 24px;
}

.icons img{
    width: 20px;
    height: 20px;
}

.author{
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.author strong{
    color: var(--grey-900);
}

.author img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.author .data{
  color: var(--grey-400);
}


.share-btn > div{
    background-color: var(--grey-500);
    color: var(--white);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-btn img{
    filter: invert(100%) sepia(31%) saturate(0%) hue-rotate(356deg) brightness(114%) contrast(100%);
}


/* TEXT CLASSES */

.text-1{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.text-2{
    font-size: 0.81rem;
    line-height: 140%;
    letter-spacing: 0.12%;
}

.text-2.medium{
    font-weight: 500;
}

.text-2.bold{
    font-weight: 700;
}

.text-3{
    font-size: 0.81rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 25%;
}

.triangle{
    display: none;
}

@media screen and (min-width: 48rem){
    article{
        width: 608px;
        height: 346px;
        display: flex;
    }

    .triangle{
        display: none;
        transform: translate(80%, -45px);
        width: 248px;
        height: 24px;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    .triangle .inside{
        width: 48px;
        height: 100%;
        background-color: white;
        z-index: 0;
        position: relative;
        display: none;
    }

    .triangle .inside.show{
        display: block;
    }

    .triangle .inside > div{
        width: 100%;
        height: 100%;
        background-color: #48556A;
        z-index: 1;
        position: relative;
        /*-webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg); */
        transform:rotate(45deg);
    }

     article .article-picture{
      flex-basis: 229px;
    }

    .sharing-banner{
        position: absolute;
        height: 55px;
        padding-left: 38px;
        padding-right: 38px;
        transform: translate(80%, -80px);
        width: 248px;
        border-radius: 10px;
        display: none;
    }

    .sharing-banner.show{
        display: flex;
    }

    #share1{
        display: none;
    }

    article .article-content{
      flex: 1;
    }

    .article-picture .container{
        height: 100%;
    }

    .article-content p{
        margin-bottom: var(--space-300);
    }
}

@media screen and (min-width: 90rem){
    article{
        width: 730px;
        height: 280px;
        display: flex;
    }

     article .article-picture{
      flex-basis: 285px;
    }

    article .article-content{
      flex: 1;
    }

    .article-content{
        padding-bottom: 30px;
    }

     .triangle{
        transform: translate(107%, -45px);
    }

    .sharing-banner{
        transform: translate(105%, -80px);
    }

    
}